main{
    outline: 4px solid black;
    width: 50vw;
    height: fit-content;
    position: absolute;
    left: 25vw;
    top: 12.5vh;
    display: flex;
    flex-flow: column;
    background-color: #272324;
}
header{
    outline: 1px solid black;
    padding: 12.5px;
    background-color: #83b799;
}
h2{
    margin:0
}
.historico{
    outline: 1px solid black;
    margin: 5px;
    height: 44vh;
    overflow-y: scroll;
    background-color: #615054;
}
.msgView{
    display: flex;
    flex-flow: column nowrap;
    padding: 5px;

}
.msg{
    white-space: pre-wrap;
    height: fit-content;
    padding: 5px;
    background-color: white;
    outline: 3px solid black;
    min-height: 1ch;
}
.msgView .buttons{
    margin: 5px;
    align-self: flex-end;
}
.messageBox{
    display: flex;
    justify-content: center;
    padding: 5px;
    margin: 0px 5px 5px 5px;
    gap: 2px;
    background-color: #83b799;
    width: fit-content;
    align-self: center;
}
.messageBox button{
    height: fit-content;
}
textarea{
    resize: none;
    width: 25vw;
    height: auto;
}
body{
    background-color: #e4d8b4;
}